.frame-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame-frame {
  width: 100%;
  height: 1117px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: rgba(51, 51, 51, 1);
}
.frame-group17 {
  top: 87px;
  left: 0.956298828125px;
  width: 1727.043701171875px;
  height: 539.1817016601562px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-maxresdefault1 {
  top: 0px;
  left: 0px;
  width: 1727px;
  height: 539px;
  position: absolute;
}
.frame-text {
  top: 241.80296325683594px;
  left: 490.592529296875px;
  color: rgba(217, 217, 217, 1);
  width: 746px;
  height: auto;
  position: absolute;
  font-size: 45.89999771118164px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 800;
  line-height: 134.089994430542%;
  font-stretch: normal;
  text-decoration: none;
}
.frame-text02 {
  top: 202.8031463623047px;
  left: 686.452880859375px;
  color: rgba(217, 217, 217, 1);
  width: 353px;
  height: auto;
  position: absolute;
  font-size: 15.300000190734863px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-text04 {
  top: 403.6551513671875px;
  left: 569.690185546875px;
  color: rgba(217, 217, 217, 1);
  width: 587px;
  height: auto;
  position: absolute;
  font-size: 15.300000190734863px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 158.46999883651733%;
  font-stretch: normal;
  text-decoration: none;
}
.frame-frame1 {
  gap: 62px;
  top: 605px;
  left: 748px;
  width: 340px;
  height: 512px;
  display: flex;
  padding: 65px 0 287px 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame-firstscreenbutton {
  width: 340px;
  height: 49.72500228881836px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(73, 133, 255, 1);
}
.frame-text09 {
  top: 8.606389999389648px;
  left: 61.19999694824219px;
  color: rgba(217, 217, 217, 1);
  width: 218px;
  height: auto;
  position: absolute;
  font-size: 22.94999885559082px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-firstscreenbutton1 {
  width: 340px;
  height: 49.72500228881836px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(73, 133, 255, 1);
}
.frame-text11 {
  top: 8.606012344360352px;
  left: 61.20024108886719px;
  color: rgba(217, 217, 217, 1);
  width: 218px;
  height: auto;
  position: absolute;
  font-size: 22.94999885559082px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-frame4 {
  gap: 48px;
  top: 896px;
  left: 1px;
  width: 1725px;
  display: flex;
  padding: 25px 308px 63px 308px;
  position: absolute;
  align-items: flex-start;
}
.frame-servicesitem {
  width: 338px;
  height: 132.91851806640625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-ellipse {
  top: 0px;
  left: 0px;
  width: 105px;
  height: 105px;
  position: absolute;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 0.956250011920929px;
  border-radius: var(--dl-radius-radius-round);
}
.frame-ellipse1 {
  top: 9.562211036682129px;
  left: 9.562355995178223px;
  width: 86px;
  height: 86px;
  position: absolute;
  border-color: rgba(73, 133, 255, 1);
  border-style: solid;
  border-width: 0.956250011920929px;
  border-radius: var(--dl-radius-radius-round);
}
.frame-project {
  top: 33.46869659423828px;
  left: 33.468605041503906px;
  width: 38.25px;
  height: 38.25px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-group {
  top: 0px;
  left: 0px;
  width: 38.249977111816406px;
  height: 38.24991989135742px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-group1 {
  top: 0px;
  left: 0px;
  width: 38.249977111816406px;
  height: 38.24991989135742px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-group2 {
  top: 0px;
  left: 0px;
  width: 38.249977111816406px;
  height: 38.24991989135742px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-vector {
  top: -0.000055017604609020054px;
  left: 2.5501933097839355px;
  width: 36px;
  height: 38px;
  position: absolute;
}
.frame-vector01 {
  top: 11.474898338317871px;
  left: 0.00009971940744435415px;
  width: 24px;
  height: 6px;
  position: absolute;
}
.frame-vector02 {
  top: 7.012585163116455px;
  left: 14.02538013458252px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.frame-vector03 {
  top: 16.246795654296875px;
  left: 23.259355545043945px;
  width: 7px;
  height: 7px;
  position: absolute;
}
.frame-vector04 {
  top: 3.824617624282837px;
  left: 16.575239181518555px;
  width: 13px;
  height: 1px;
  position: absolute;
}
.frame-vector05 {
  top: 6.374711036682129px;
  left: 14.662552833557129px;
  width: 17px;
  height: 1px;
  position: absolute;
}
.frame-vector06 {
  top: 19.762351989746094px;
  left: 10.837646484375px;
  width: 4px;
  height: 1px;
  position: absolute;
}
.frame-vector07 {
  top: 22.312211990356445px;
  left: 10.837646484375px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.frame-text13 {
  top: 43.9870719909668px;
  left: 121.44355773925781px;
  color: rgba(217, 217, 217, 1);
  width: 216px;
  height: auto;
  position: absolute;
  font-size: 17.21249771118164px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-text15 {
  top: 77.4560546875px;
  left: 122.39966583251953px;
  color: rgba(217, 217, 217, 1);
  width: 212px;
  height: auto;
  position: absolute;
  font-size: 13.38749885559082px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 158.46999883651733%;
  font-stretch: normal;
  text-decoration: none;
}
.frame-servicesitem1 {
  width: 338px;
  height: 132.91854858398438px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-ellipse2 {
  top: 0px;
  left: 0px;
  width: 105px;
  height: 105px;
  position: absolute;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 0.956250011920929px;
  border-radius: var(--dl-radius-radius-round);
}
.frame-ellipse3 {
  top: 9.562211036682129px;
  left: 9.562835693359375px;
  width: 86px;
  height: 86px;
  position: absolute;
  border-color: rgba(73, 133, 255, 1);
  border-style: solid;
  border-width: 0.956250011920929px;
  border-radius: var(--dl-radius-radius-round);
}
.frame-project1 {
  top: 33.46869659423828px;
  left: 33.468841552734375px;
  width: 38.25px;
  height: 38.25px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-group3 {
  top: -0.000055017604609020054px;
  left: 2.5501933097839355px;
  width: 35.69998550415039px;
  height: 38.24991989135742px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-group4 {
  top: 0px;
  left: 0px;
  width: 35.69998550415039px;
  height: 38.24991989135742px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-group5 {
  top: 0px;
  left: 0px;
  width: 35.69998550415039px;
  height: 38.24991989135742px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-vector08 {
  top: 0px;
  left: 0px;
  width: 36px;
  height: 38px;
  position: absolute;
}
.frame-icon {
  top: 7.6497578620910645px;
  left: 10.837447166442871px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.frame-line8 {
  top: 9.562211036682129px;
  left: 8.290593147277832px;
  width: 10px;
  height: 0px;
  position: absolute;
}
.frame-vector09 {
  top: 39px;
  left: 24px;
  width: 24px;
  height: 21px;
  position: absolute;
}
.frame-text17 {
  top: 43.9870719909668px;
  left: 121.44378662109375px;
  color: rgba(217, 217, 217, 1);
  width: 216px;
  height: auto;
  position: absolute;
  font-size: 17.21249771118164px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-text19 {
  top: 77.4560546875px;
  left: 122.400146484375px;
  color: rgba(217, 217, 217, 1);
  width: 212px;
  height: auto;
  position: absolute;
  font-size: 13.38749885559082px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 158.46999883651733%;
  font-stretch: normal;
  text-decoration: none;
}
.frame-servicesitem2 {
  width: 338px;
  height: 132.91851806640625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-ellipse4 {
  top: 0px;
  left: 0px;
  width: 105px;
  height: 105px;
  position: absolute;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 0.956250011920929px;
  border-radius: var(--dl-radius-radius-round);
}
.frame-ellipse5 {
  top: 9.562211036682129px;
  left: 9.562478065490723px;
  width: 86px;
  height: 86px;
  position: absolute;
  border-color: rgba(73, 133, 255, 1);
  border-style: solid;
  border-width: 0.956250011920929px;
  border-radius: var(--dl-radius-radius-round);
}
.frame-project2 {
  top: 33.46869659423828px;
  left: 33.468727111816406px;
  width: 38.25px;
  height: 38.25px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-group6 {
  top: 0px;
  left: 0px;
  width: 38.25px;
  height: 38.24991989135742px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-group7 {
  top: 0px;
  left: 0px;
  width: 38.25px;
  height: 38.24991989135742px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-group8 {
  top: 0px;
  left: 0px;
  width: 38.25px;
  height: 38.24991989135742px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-vector10 {
  top: -0.000055017604609020054px;
  left: 2.5499541759490967px;
  width: 36px;
  height: 38px;
  position: absolute;
}
.frame-line5 {
  top: 21.03716468811035px;
  left: 13.387384414672852px;
  width: 19px;
  height: 0px;
  position: absolute;
  box-shadow: 0px 3.825000047683716px 3.825000047683716px 0px rgba(0, 0, 0, 0.25) ;
}
.frame-line7 {
  top: 26.774757385253906px;
  left: 13.387384414672852px;
  width: 19px;
  height: 0px;
  position: absolute;
  box-shadow: 0px 3.825000047683716px 3.825000047683716px 0px rgba(0, 0, 0, 0.25) ;
}
.frame-line6 {
  top: 9.562211036682129px;
  left: 13.387384414672852px;
  width: 19px;
  height: 0px;
  position: absolute;
  box-shadow: 0px 3.825000047683716px 3.825000047683716px 0px rgba(0, 0, 0, 0.25) ;
}
.frame-line4 {
  top: 14.821633338928223px;
  left: 23.428173065185547px;
  width: 9px;
  height: 0px;
  position: absolute;
}
.frame-vector11 {
  top: 11.474898338317871px;
  left: -0.000022350901417667046px;
  width: 24px;
  height: 6px;
  position: absolute;
}
.frame-text21 {
  top: 43.9870719909668px;
  left: 121.44367980957031px;
  color: rgba(217, 217, 217, 1);
  width: 216px;
  height: auto;
  position: absolute;
  font-size: 17.21249771118164px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-text23 {
  top: 77.4560546875px;
  left: 122.39990997314453px;
  color: rgba(217, 217, 217, 1);
  width: 212px;
  height: auto;
  position: absolute;
  font-size: 13.38749885559082px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 158.46999883651733%;
  font-stretch: normal;
  text-decoration: none;
}
.frame-frame2 {
  top: 0px;
  left: -1px;
  width: 1729px;
  height: 89px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame-frame20 {
  gap: 26px;
  top: 0px;
  left: 1391px;
  height: 88.9114990234375px;
  display: flex;
  padding: 36px 51px 0 0;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.frame-text25 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 19.125px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-line-stroke {
  width: 98px;
  height: 2px;
}
.frame-frame19 {
  gap: 10px;
  top: 0px;
  left: 1554px;
  height: 87.98863220214844px;
  display: flex;
  padding: 36px 51px 27px 51px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.frame-text27 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 19.125px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame-frame18 {
  top: 0px;
  left: 0px;
  width: 1728px;
  height: 89px;
  position: absolute;
}
