.container {
    width: 100%;
    height: 1080px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    background-color: rgba(51, 51, 51, 1);
}

.panel {
  gap: 5%;
  top: 0px;
  width: 100%;
  display: flex;
  padding: 1% 5%;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}

.panel-button {
  display: flex;
  align-items: flex-start;
}

.panel-text {
    color: rgba(217, 217, 217, 1);
    height: auto;
    font-size: 19.125px;
    font-style: Medium;
    text-align: left;
    font-family: Montserrat;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.subtitle-text {
    top: 69px;
    color: rgba(217, 217, 217, 1);
    width: 829px;
    position: absolute;
    font-size: 48px;
    font-style: ExtraBold;
    text-align: center;
    font-family: Montserrat;
    font-weight: 800;
    line-height: 134.089994430542%;
    font-stretch: normal;
    text-decoration: none;
}

.field-text {
    color: rgba(73, 133, 255, 1);
    height: auto;
    text-align: left;
    line-height: 24px;
}
