
.frame3-frame1 {
  top: 0px;
  left: -0.5px;
  width: 1730.5px;
  height: 107.33277893066406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-frame20 {
  gap: 10px;
  top: 0px;
  left: 1390.5px;
  width: 153px;
  display: flex;
  padding: 34px 165px 20px 36px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-text {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 19.125px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-frame18 {
  top: 57.37548828125px;
  left: 0px;
  width: 1728.5px;
  height: 49.95729064941406px;
  display: flex;
  padding: 19px 0;
  position: absolute;
  align-items: center;
}
.frame3-frame19 {
  gap: 10px;
  top: 29.62451171875px;
  left: 1418.5px;
  width: 98px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.frame3-frame181 {
  top: 3px;
  left: 0.5px;
  width: 1728px;
  height: 85px;
  position: absolute;
}
.frame3-frame191 {
  gap: 10px;
  top: 0px;
  left: 1573.5px;
  display: flex;
  padding: 34px 59px 20px 25px;
  position: absolute;
  align-items: flex-start;
}
.frame3-text002 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 19.125px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-line2 {
  top: 88px;
  left: 1586.5px;
  width: 98px;
  height: 0px;
  position: absolute;
}
.frame3-frame2 {
  top: 0px;
  left: -0.5px;
  width: 1730.5px;
  height: 188.00015258789062px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-frame201 {
  gap: 10px;
  top: 0px;
  left: 1390.5px;
  width: 153px;
  display: flex;
  padding: 34px 165px 20px 36px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-text004 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 19.125px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-frame21 {
  gap: 10px;
  top: 0px;
  left: 1207.5px;
  width: 153px;
  display: flex;
  padding: 34px 165px 20px 36px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-text006 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 19.125px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-frame182 {
  top: 57.37548828125px;
  left: 0px;
  width: 1728.5px;
  height: 49.95729064941406px;
  display: flex;
  padding: 19px 0;
  position: absolute;
  align-items: center;
}
.frame3-frame192 {
  gap: 10px;
  top: 29.62451171875px;
  left: 1418.5px;
  width: 98px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.frame3-frame183 {
  top: 87px;
  left: 0.5px;
  width: 1728px;
  height: 101px;
  position: absolute;
}
.frame3-frame193 {
  gap: 10px;
  top: 0px;
  left: 1573.5px;
  display: flex;
  padding: 34px 59px 20px 25px;
  position: absolute;
  align-items: flex-start;
}
.frame3-text008 {
  color: rgba(217, 217, 217, 1);
  height: auto;
  font-size: 19.125px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-line21 {
  top: 88px;
  left: 1586.5px;
  width: 98px;
  height: 0px;
  position: absolute;
}
.frame3-text010 {
  top: 120px;
  left: 449px;
  color: rgba(217, 217, 217, 1);
  width: 829px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 800;
  line-height: 134.089994430542%;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text012 {
  top: 197px;
  left: 538px;
  color: rgba(217, 217, 217, 1);
  width: 652px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 158.46999883651733%;
}
.frame3-rectangle3 {
  top: 251px;
  left: 77px;
  width: 1561px;
  height: 753px;
  position: absolute;
  border-radius: 30px;
}
.frame3-frame24 {
  top: 300px;
  left: 135px;
  width: 1404px;
  height: 657px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius8);
}
.frame3-group21 {
  top: 0px;
  left: 0px;
  width: 1401.8775634765625px;
  height: 1037px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-group14 {
  top: 0px;
  left: 0px;
  width: 1401.8775634765625px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-firstscreenbutton {
  top: 0px;
  left: 1085.4107666015625px;
  width: 316.46697998046875px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(73, 133, 255, 1);
}
.frame3-text014 {
  top: 9px;
  left: 56.89304733276367px;
  color: rgba(217, 217, 217, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton01 {
  top: 1px;
  left: 0px;
  width: 519.1480712890625px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text016 {
  top: 7.96142578125px;
  left: 93.33015441894531px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton02 {
  top: 3px;
  left: 583.1527709960938px;
  width: 438.25341796875px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text018 {
  top: 1.7646484375px;
  left: 78.78723907470703px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-group17 {
  top: 148px;
  left: 0px;
  width: 1401.8775634765625px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-firstscreenbutton03 {
  top: 0px;
  left: 1085.4107666015625px;
  width: 316.46697998046875px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(73, 133, 255, 1);
}
.frame3-text020 {
  top: 9px;
  left: 56.89304733276367px;
  color: rgba(217, 217, 217, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton04 {
  top: 1px;
  left: 0px;
  width: 519.1480712890625px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text022 {
  top: 7.96142578125px;
  left: 93.33015441894531px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton05 {
  top: 3px;
  left: 583.1527709960938px;
  width: 438.25341796875px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text024 {
  top: 1.7646484375px;
  left: 78.78723907470703px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-group18 {
  top: 222px;
  left: 0px;
  width: 1401.8775634765625px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-firstscreenbutton06 {
  top: 0px;
  left: 1085.4107666015625px;
  width: 316.46697998046875px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(73, 133, 255, 1);
}
.frame3-text026 {
  top: 9px;
  left: 56.89304733276367px;
  color: rgba(217, 217, 217, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton07 {
  top: 1px;
  left: 0px;
  width: 519.1480712890625px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text028 {
  top: 7.96142578125px;
  left: 93.33015441894531px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton08 {
  top: 3px;
  left: 583.1527709960938px;
  width: 438.25341796875px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text030 {
  top: 1.7646484375px;
  left: 78.78723907470703px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-group19 {
  top: 296px;
  left: 0px;
  width: 1401.8775634765625px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-firstscreenbutton09 {
  top: 0px;
  left: 1085.4107666015625px;
  width: 316.46697998046875px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(73, 133, 255, 1);
}
.frame3-text032 {
  top: 9px;
  left: 56.89304733276367px;
  color: rgba(217, 217, 217, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton10 {
  top: 1px;
  left: 0px;
  width: 519.1480712890625px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text034 {
  top: 7.96142578125px;
  left: 93.33015441894531px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton11 {
  top: 3px;
  left: 583.1527709960938px;
  width: 438.25341796875px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text036 {
  top: 1.7646484375px;
  left: 78.78723907470703px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-group20 {
  top: 372px;
  left: 0px;
  width: 1401.8775634765625px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-firstscreenbutton12 {
  top: 0px;
  left: 1085.4107666015625px;
  width: 316.46697998046875px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(73, 133, 255, 1);
}
.frame3-text038 {
  top: 9px;
  left: 56.89304733276367px;
  color: rgba(217, 217, 217, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton13 {
  top: 1px;
  left: 0px;
  width: 519.1480712890625px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text040 {
  top: 7.96142578125px;
  left: 93.33015441894531px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton14 {
  top: 3px;
  left: 583.1527709960938px;
  width: 438.25341796875px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text042 {
  top: 1.7646484375px;
  left: 78.78723907470703px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-group211 {
  top: 444px;
  left: 0px;
  width: 1401.8775634765625px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-firstscreenbutton15 {
  top: 0px;
  left: 1085.4107666015625px;
  width: 316.46697998046875px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(73, 133, 255, 1);
}
.frame3-text044 {
  top: 9px;
  left: 56.89304733276367px;
  color: rgba(217, 217, 217, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton16 {
  top: 1px;
  left: 0px;
  width: 519.1480712890625px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text046 {
  top: 7.96142578125px;
  left: 93.33015441894531px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton17 {
  top: 3px;
  left: 583.1527709960938px;
  width: 438.25341796875px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text048 {
  top: 1.7646484375px;
  left: 78.78723907470703px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-group22 {
  top: 518px;
  left: 0px;
  width: 1401.8775634765625px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-firstscreenbutton18 {
  top: 0px;
  left: 1085.4107666015625px;
  width: 316.46697998046875px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(73, 133, 255, 1);
}
.frame3-text050 {
  top: 9px;
  left: 56.89304733276367px;
  color: rgba(217, 217, 217, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton19 {
  top: 1px;
  left: 0px;
  width: 519.1480712890625px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text052 {
  top: 7.96142578125px;
  left: 93.33015441894531px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton20 {
  top: 3px;
  left: 583.1527709960938px;
  width: 438.25341796875px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text054 {
  top: 1.7646484375px;
  left: 78.78723907470703px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-group23 {
  top: 592px;
  left: 0px;
  width: 1401.8775634765625px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-firstscreenbutton21 {
  top: 0px;
  left: 1085.4107666015625px;
  width: 316.46697998046875px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(73, 133, 255, 1);
}
.frame3-text056 {
  top: 9px;
  left: 56.89304733276367px;
  color: rgba(217, 217, 217, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton22 {
  top: 1px;
  left: 0px;
  width: 519.1480712890625px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text058 {
  top: 7.96142578125px;
  left: 93.33015441894531px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton23 {
  top: 3px;
  left: 583.1527709960938px;
  width: 438.25341796875px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text060 {
  top: 1.7646484375px;
  left: 78.78723907470703px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-group24 {
  top: 666px;
  left: 0px;
  width: 1401.8775634765625px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-firstscreenbutton24 {
  top: 0px;
  left: 1085.4107666015625px;
  width: 316.46697998046875px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(73, 133, 255, 1);
}
.frame3-text062 {
  top: 9px;
  left: 56.89304733276367px;
  color: rgba(217, 217, 217, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton25 {
  top: 1px;
  left: 0px;
  width: 519.1480712890625px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text064 {
  top: 7.96142578125px;
  left: 93.33015441894531px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton26 {
  top: 3px;
  left: 583.1527709960938px;
  width: 438.25341796875px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text066 {
  top: 1.7646484375px;
  left: 78.78723907470703px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-group25 {
  top: 740px;
  left: 0px;
  width: 1401.8775634765625px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-firstscreenbutton27 {
  top: 0px;
  left: 1085.4107666015625px;
  width: 316.46697998046875px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(73, 133, 255, 1);
}
.frame3-text068 {
  top: 9px;
  left: 56.89304733276367px;
  color: rgba(217, 217, 217, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton28 {
  top: 1px;
  left: 0px;
  width: 519.1480712890625px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text070 {
  top: 7.96142578125px;
  left: 93.33015441894531px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton29 {
  top: 3px;
  left: 583.1527709960938px;
  width: 438.25341796875px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text072 {
  top: 1.7646484375px;
  left: 78.78723907470703px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-group26 {
  top: 814px;
  left: 0px;
  width: 1401.8775634765625px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-firstscreenbutton30 {
  top: 0px;
  left: 1085.4107666015625px;
  width: 316.46697998046875px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(73, 133, 255, 1);
}
.frame3-text074 {
  top: 9px;
  left: 56.89304733276367px;
  color: rgba(217, 217, 217, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton31 {
  top: 1px;
  left: 0px;
  width: 519.1480712890625px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text076 {
  top: 7.96142578125px;
  left: 93.33015441894531px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton32 {
  top: 3px;
  left: 583.1527709960938px;
  width: 438.25341796875px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text078 {
  top: 1.7646484375px;
  left: 78.78723907470703px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-group27 {
  top: 888px;
  left: 0px;
  width: 1401.8775634765625px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-firstscreenbutton33 {
  top: 0px;
  left: 1085.4107666015625px;
  width: 316.46697998046875px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(73, 133, 255, 1);
}
.frame3-text080 {
  top: 9px;
  left: 56.89304733276367px;
  color: rgba(217, 217, 217, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton34 {
  top: 1px;
  left: 0px;
  width: 519.1480712890625px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text082 {
  top: 7.96142578125px;
  left: 93.33015441894531px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton35 {
  top: 3px;
  left: 583.1527709960938px;
  width: 438.25341796875px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text084 {
  top: 1.7646484375px;
  left: 78.78723907470703px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-group28 {
  top: 962px;
  left: 0px;
  width: 1401.8775634765625px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-firstscreenbutton36 {
  top: 0px;
  left: 1085.4107666015625px;
  width: 316.46697998046875px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(73, 133, 255, 1);
}
.frame3-text086 {
  top: 9px;
  left: 56.89304733276367px;
  color: rgba(217, 217, 217, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton37 {
  top: 1px;
  left: 0px;
  width: 519.1480712890625px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text088 {
  top: 7.96142578125px;
  left: 93.33015441894531px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton38 {
  top: 3px;
  left: 583.1527709960938px;
  width: 438.25341796875px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text090 {
  top: 1.7646484375px;
  left: 78.78723907470703px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-group29 {
  top: 1036px;
  left: 0px;
  width: 1401.8775634765625px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-firstscreenbutton39 {
  top: 0px;
  left: 1085.4107666015625px;
  width: 316.46697998046875px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(73, 133, 255, 1);
}
.frame3-text092 {
  top: 9px;
  left: 56.89304733276367px;
  color: rgba(217, 217, 217, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton40 {
  top: 1px;
  left: 0px;
  width: 519.1480712890625px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text094 {
  top: 7.96142578125px;
  left: 93.33015441894531px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton41 {
  top: 3px;
  left: 583.1527709960938px;
  width: 438.25341796875px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text096 {
  top: 1.7646484375px;
  left: 78.78723907470703px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-group30 {
  top: 1110px;
  left: 0px;
  width: 1401.8775634765625px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-firstscreenbutton42 {
  top: 0px;
  left: 1085.4107666015625px;
  width: 316.46697998046875px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(73, 133, 255, 1);
}
.frame3-text098 {
  top: 9px;
  left: 56.89304733276367px;
  color: rgba(217, 217, 217, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton43 {
  top: 1px;
  left: 0px;
  width: 519.1480712890625px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text100 {
  top: 7.96142578125px;
  left: 93.33015441894531px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton44 {
  top: 3px;
  left: 583.1527709960938px;
  width: 438.25341796875px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text102 {
  top: 1.7646484375px;
  left: 78.78723907470703px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-group31 {
  top: 1184px;
  left: 0px;
  width: 1401.8775634765625px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-firstscreenbutton45 {
  top: 0px;
  left: 1085.4107666015625px;
  width: 316.46697998046875px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(73, 133, 255, 1);
}
.frame3-text104 {
  top: 9px;
  left: 56.89304733276367px;
  color: rgba(217, 217, 217, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton46 {
  top: 1px;
  left: 0px;
  width: 519.1480712890625px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text106 {
  top: 7.96142578125px;
  left: 93.33015441894531px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton47 {
  top: 3px;
  left: 583.1527709960938px;
  width: 438.25341796875px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text108 {
  top: 1.7646484375px;
  left: 78.78723907470703px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-group32 {
  top: 1258px;
  left: 0px;
  width: 1401.8775634765625px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-firstscreenbutton48 {
  top: 0px;
  left: 1085.4107666015625px;
  width: 316.46697998046875px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(73, 133, 255, 1);
}
.frame3-text110 {
  top: 9px;
  left: 56.89304733276367px;
  color: rgba(217, 217, 217, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton49 {
  top: 1px;
  left: 0px;
  width: 519.1480712890625px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text112 {
  top: 7.96142578125px;
  left: 93.33015441894531px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton50 {
  top: 3px;
  left: 583.1527709960938px;
  width: 438.25341796875px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text114 {
  top: 1.7646484375px;
  left: 78.78723907470703px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-group33 {
  top: 1332px;
  left: 0px;
  width: 1401.8775634765625px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-firstscreenbutton51 {
  top: 0px;
  left: 1085.4107666015625px;
  width: 316.46697998046875px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(73, 133, 255, 1);
}
.frame3-text116 {
  top: 9px;
  left: 56.89304733276367px;
  color: rgba(217, 217, 217, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton52 {
  top: 1px;
  left: 0px;
  width: 519.1480712890625px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text118 {
  top: 7.96142578125px;
  left: 93.33015441894531px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton53 {
  top: 3px;
  left: 583.1527709960938px;
  width: 438.25341796875px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text120 {
  top: 1.7646484375px;
  left: 78.78723907470703px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-group16 {
  top: 74px;
  left: 0px;
  width: 1401.8775634765625px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-firstscreenbutton54 {
  top: 0px;
  left: 1085.4107666015625px;
  width: 316.46697998046875px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(73, 133, 255, 1);
}
.frame3-text122 {
  top: 9px;
  left: 56.89304733276367px;
  color: rgba(217, 217, 217, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton55 {
  top: 1px;
  left: 0px;
  width: 519.1480712890625px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text124 {
  top: 7.96142578125px;
  left: 93.33015441894531px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-firstscreenbutton56 {
  top: 3px;
  left: 583.1527709960938px;
  width: 438.25341796875px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(217, 217, 217, 1);
}
.frame3-text126 {
  top: 1.7646484375px;
  left: 78.78723907470703px;
  color: rgba(30, 30, 30, 0.800000011920929);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
