<header>
    <div id="menu">
        {% load static %}
            {% if user.is_authenticated %}
            <div class="panel">
                {% if user.is_superuser %}
                <div class="panel-button">
                    <button class="panel-text" type="button" onclick="location.href='/create_task'">Редактор</button>
                </div>
                {% endif %}
                <div class="panel-button">
                    <button class="panel-text" type="button" onclick="location.href='/task-list/'">Задачи</button>
                </div>
                <div class="panel-button">
                    <button class="panel-text" type="button" onclick="location.href='/history/{{ user.id }}'">История</button>
                </div>
                <div class="panel-button">
                    <button class="panel-text" type="button" onclick="location.href='/task-list-doing/{{ user.id }}'">Текущие</button>
                </div>
                <div class="panel-button">
                    <button class="panel-text" type="button" onclick="location.href='/lk/{{ user.id }}'">Личный кабинет</button>
                </div>
                <div class="panel-button">
                    <img src="{{ avatar.img.url }}" border="0" height="40">
                </div>
                <div class="panel-button">
                    <button class="panel-text" type="button" onclick="location.href='/logout'">Выйти</button>
                </div>
            </div>
        {% endif %}
    </div>
</header>
