<!DOCTYPE html>
<html lang="english">
<head>
    <script>
        function disp(form) {
            if (form.style.display == "none") {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        }
    </script>
    <title>{{ task.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <meta property="twitter:card" content="summary_large_image"/>
    <style>
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        button {
            background-color: transparent;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);

        }
    </style>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
            data-tag="font"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
            data-tag="font"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
            data-tag="font"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/key.css' %}">
    <link rel="stylesheet" href="{% static 'css/show.css' %}">
    <link rel="stylesheet" href="{% static 'css/basic-css.css' %}">
</head>
<body>
{% include "menu.html" %}

<div class="container">
    <div class="group-1">
        <img
                src="{% static 'img/main.png' %}"
                alt="main"
                class="picture"
        />
    </div>
    <span class="title-text"><span>{{ task.name }}</span></span>

    {% if deadline_overdue == True %}
        <span class="lower-title-text">
            <span>Дедлайн прошел или задание завершено</span>
        </span>
    {% else %}
        <span class="lower-title-text">
            <span>Задание из списка</span>
          </span>
    {% endif %}

    <div class="main-container">
        <div>
            <span class="description-text"><span>Описание</span></span>
            <div class="description-field">
                <table align="center">
                    <td><span class="descriptionfield-text">{{ task.description }}</span></td>
                </table>
            </div>

            <div class="developers-container">
                <table align="center" cellspacing="20">
                    <tr>
                        <th>
                            <div class="developers-text">Исполнители:</div>
                        </th>
                    </tr>
                    {% for developer in developers %}
                        <tr>
                            <th>
                                <div class="workers-text">{{ developer.user.username }}</div>
                            <th>
                        </tr>
                    {% endfor %}
                </table>
                {% if not deadline_overdue and exists %}
                    <button id="done-button" type="button">Завершить выполнение</button>
                {% endif %}
            </div>

            {% if exists %}
                <div class="button-container-false">
                    <button id="like-button" class="button-text"> Убрать меня из исполнителей️
                    </button>
                </div>
            {% else %}
                <div class="button-container-true">
                    <button id="like-button" class="button-text"> Добавить меня в исполнители
                    </button>
                </div>

            {% endif %}

            <span class="comment-text">Комментарий:</span>
            <div class="comment-container">
                <div id="vote">
                    {% if deadline_overdue == False %}
                        <div id='timer'></div>
                        <script>
                            function timer() {
                                var nowDate = new Date();
                                var achiveDate = new Date({{ task.deadline.year }}, {{ task.deadline.month }} -1, {{ task.deadline.day }}, {{ task.deadline.hour }}, {{ task.deadline.minute }}, 0); //Задаем дату, к которой будет осуществляться обратный отсчет
                                var result = (achiveDate - nowDate) + 1000;
                                if (result < 0) {
                                    var elmnt = document.getElementById('timer');
                                    elmnt.innerHTML = ' - : - - : - - : - - ';
                                    return undefined;
                                }
                                var seconds = Math.floor((result / 1000) % 60);
                                var minutes = Math.floor((result / 1000 / 60) % 60);
                                var hours = Math.floor((result / 1000 / 60 / 60) % 24);
                                var days = Math.floor(result / 1000 / 60 / 60 / 24);
                                if (seconds < 10) seconds = '0' + seconds;
                                if (minutes < 10) minutes = '0' + minutes;
                                if (hours < 10) hours = '0' + hours;
                                var elmnt = document.getElementById('timer');
                                elmnt.innerHTML = days + ':' + hours + ':' + minutes + ':' + seconds;
                                setTimeout(timer, 1000);
                            }

                            window.onload = function () {
                                timer();
                            }
                        </script>
                    {% endif %}
                </div>


                <div id="likes">


                    <script>
                        let likeBtn = document.getElementById('like-button')
                        likeBtn.addEventListener('click', () => {
                            if (!{{ exists }}) {

                                $.ajax({
                                    type: "POST",
                                    url: '/show/{{task.id}}',
                                    data: {
                                        csrfmiddlewaretoken: "{{ csrf_token }}",
                                        action: 'add'
                                    },

                                    success: function () {
                                        console.log('like work')
                                        location.reload()
                                    },
                                });

                            } else {
                                $.ajax({
                                    type: "POST",
                                    url: '/show/{{task.id}}',
                                    data: {
                                        csrfmiddlewaretoken: "{{ csrf_token }}",
                                        action: 'delete'
                                    },

                                    success: function () {
                                        console.log('like work')
                                        location.reload()
                                    },
                                });

                            }
                        })
                    </script>
                    <script>
                        let doneBtn = document.getElementById('done-button')
                        doneBtn.addEventListener('click', () => {
                            $.ajax({
                                type: "POST",
                                url: '/show/{{task.id}}',
                                data: {
                                    csrfmiddlewaretoken: "{{ csrf_token }}",
                                    action: 'done'
                                },

                                success: function () {
                                    console.log('like work')
                                    location.reload()
                                },
                            });
                        })
                    </script>
                </div>

                <div id="comment-section">
                    <div id="comment-edit">
                        <form method="POST">
                            {% csrf_token %}


                            <div class=comment>
                                {{ CommentForm.comment_text }}
                            </div>

                            <input type="submit" value="Отправить" style=" font-size: 13px;"
                                   class=button-container-green
                                   onClick="window.location.href=window.location.href">

                        </form>
                    </div>
                    <div id="comment-display">
                        {% for comment in comments %}
                            <div id={{ comment.id }}, style="margin: 1%; height: 200%">
                                <div>{{ comment.user.username }}</div>

                                <img src='{{ comment.avatar.img.url }}' height="40">

                                <span>{{ comment.comment_text }}</span>
                                {% if user_id == comment.user.id %}
                                    <form method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" value='{{ comment.id }}' name="delete_comment"
                                               onClick="window.location.href=window.location.href">
                                        <input type="submit" value='Удалить' style=" font-size: 13px;"
                                               class=button-container-green
                                               name="delete-comment"
                                               onClick="window.location.href=window.location.href">
                                    </form>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>